@model List<SoSucKhoe.Models.Main.PhieuDinhKy>
@{
    ViewData["Title"] = "Thống kê sức khỏe định kì";
}
<link rel="stylesheet" href="~/css/thongketiemchung.css">

<body>

    <h1 class="title-statistics-vaccin">Thống kê sức khỏe định kì</h1>
    @foreach (var item in Model)
    {

        <div class="statistics-vaccin">

            <div class="info">
                <p class="vaccine-statistics-vaccin">Gam-COVID-Vac (SPUTNIK V)</p>
            </div>
            <div style="display: flex; gap:30px">
                <div class="info-statistics-vaccin" style="gap:5px">
                    <p class="name" style="font-weight: 700">Họ và tên: </p>
                    <p class="name-user">@item.Hoten</p>
                </div>
                <div class="info-statistics-vaccin" style="gap:5px">
                    <p class="date" style="font-weight: 700">Ngày khám:</p>
                    <p class="date-user">@item.NgayKham</p>
                </div>
            </div>
            <div class="info-statistics-vaccin" style="gap:5px">
                <p class="text" style="font-weight: 700;">Huyết áp: </p>
                <p class="address-user"> @item.HuyetAp mhg</p>
            </div>
            <div class="info-statistics-vaccin" style="gap:5px">
                <p class="address" style="font-weight: 700;">Nhịp tim: </p>
                <p class="address-user"> @item.NhipTim Nhịp/phút</p>
            </div>
            <div class="info-statistics-vaccin" style="gap:5px">
                <p class="tall" style="font-weight: 700;">Chiều cao:</p>
                <p class="tall-user">@item.ChieuCao m</p>

            </div>
            <div class="info-statistics-vaccin" style="gap:5px">
                <p class="fax" style="font-weight: 700;">Cân nặng : </p>
                <p class="fax-user">@item.CanNang Kg</p>

                <button class="button-detail"> Xem chi tiết</button>
            </div>


        </div>
    }
</body>